
#app-logo #techtext {
    vertical-align: middle;
}

.app-photo-id{
  width:100%;
}

.app-photo-photo{
  width:100%;
}

#personal_project a{
    width: 50%;
}

.personal_project_list {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    /* padding: 100px 0px 0px 150px; */
}

.modal-dialog-centered {
min-width: 50%;
margin: auto;
}

.modal-dialog-centered .modal-content {
min-height: 100vh;
}