
.professional_project_list {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  /* padding: 100px 0px 0px 150px; */
}

.personal_project_list {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    /* padding: 100px 0px 0px 150px; */
}

.modal-dialog-centered {
  min-width: 50%;
  margin: auto;
}

.modal-dialog-centered .modal-content {
  min-height: 100vh;
}

.personal_project_list a{
  width: 50%;
  padding: 0px 0px 100px 40px;
}

#app-logo #techtext {
  vertical-align: middle;
}

.app-photo-id{
  width:100%;
}

.app-photo-photo{
width:100%;
}

@media screen and (max-width: 740px) {
  /* start of phone landscape styles */
  
  .professional_project_list{
    width: 100%;
    margin: 0 auto; 
    text-align: justify;
    padding: 50px 0px 0px 20px;
  }

  .professional_project_list a{
    padding: 0px 0px 0px 40px;
  }
  
  .personal_project_list{
    width: 100%;
    margin: 0 auto; 
    text-align: justify;
    padding: 50px 0px 0px 20px;
  }

  .personal_project_list a{
    padding: 0px 0px 0px 40px;
  }
}

@media screen and (max-width: 479px) {
  /* start of phone styles */
  .professional_project_list{
    width: 100%;
    margin: 0 auto; 
    text-align: justify;
    padding: 50px 0px 0px 0px;
  }
  
  .professional_project_list a{
    padding: 0px 0px 0px 40px;
  }

  .personal_project_list{
    width: 100%;
    margin: 0 auto; 
    text-align: justify;
    padding: 50px 0px 0px 0px;
  }
  
  .personal_project_list a{
    padding: 0px 0px 0px 40px;
  }
}