
#personal_project a{
    width: 50%;
}

.personal_project_list {
  margin: auto;
  width: 50%;
}

.modal-dialog-centered {
min-width: 60%;
margin: auto;
}

.modal-dialog-centered .modal-content {
min-height: 100vh;
}